annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.5.2
Babel==2.12.1
blivet==3.7.1
blivet-gui==2.4.2
Brlapi==0.7.0
cairocffi==1.1.0
CairoSVG==2.7.0
caja-extensions-redsoft==1.4.4
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==2.0.7
click==8.1.8
configobj==5.0.8
configshell-fb==1.1.28
cryptography==46.0.3
cssselect2==0.3.0
cupshelpers==1.0
dasbus==1.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.5.0
dnspython==2.6.1
exceptiongroup==1.3.1
fastapi==0.124.4
gpg==1.12.0
gssapi==1.7.3
h11==0.16.0
idna==3.7
importlib-metadata==6.8.0
initial-setup==0.3.84
ipaclient==4.10.3
ipalib==4.10.3
ipaplatform==4.10.3
ipapython==4.10.3
jinja2==3.1.5
join-to-domain==1.1
jwcrypto==1.5.6
kmod==0.1
langtable==0.0.53
libcomps==0.1.15
loginfo==1.0.2
markdown==3.6
MarkupSafe==2.1.1
netaddr==0.7.19
netifaces==0.10.4
nftables==0.1
olefile==0.45.1
onboard==1.4.1
perf==0.1
pid==2.2.3
pillow==10.3.0
ply==3.11
productmd==1.33
pwquality==1.4.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.14
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.6
pydantic==2.10.6
pydantic-core==2.27.2
pydbus==0.6.0
PyGObject==3.44.1
pykickstart==3.30
pyodbc===4.0.0-unsupported
pyopenssl==25.3.0
pyparsing==3.1.4
pyparted==3.12.0
PyQt5==5.15.9
PyQt5-sip==12.11.0
pysmbc==1.0.23
PySocks==1.7.1
pystemd==0.10.0
pystray==0.17.1
python-augeas==0.5.0
python-dateutil==2.8.2
python-gettext==4.0
python-ldap==3.1.0
python-linux-procfs==0.6.1
python-manatools==0.0.3
python-meh==0.48
python-xlib==0.33
python-yubico==1.3.2
pytz==2022.7.1
pyudev==0.21.0
pyusb==1.0.0b1
pyxdg==0.28
PyYAML==5.4.1
qrcode==7.3.1
redoswelcome==1.13.6
reportlab==3.6.12
requests==2.26.0
requests-file==1.4.3
requests-ftp==0.3.1
requirements-parser==0.2.0
rpm==4.18.2
rtslib-fb==2.1.76
schedutils==0.6
selinux==2.9
sepolicy==1.1
setools==4.3.0
setproctitle==1.2.3
setroubleshoot==1.1
share-directory==6.5.3
simpleline==1.6
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
sniffio==1.3.1
sos==3.8
starlette==0.44.0
systemd-python==232
targetcli-fb==2.1.53
tinycss2==1.0.2
typing-extensions==4.12.2
urllib3==1.26.20
urwid==2.0.1
uvicorn==0.33.0
webencodings==0.5.1
wrapt==1.12.1
xcffib==0.9.0
zipp==3.19.2
